$one-tick: 0.25s;

$black: #000;
$white: #fff;
$eggshell: #fafafa;
$main-bg: #f1f1f1;
$grey: rgba(0, 0, 0, 0.3);
$light-grey: rgba(0, 0, 0, 0.1);
$beige: #f5f8fb;

$locomotion-green: #16a59e;
$locomotion-grey: #b6b6b6;
$locomotion-light-green: #00ada8;
$locomotion-dark-green: #1e4847;
$locomotion-dark-blue: #0d256e;

$primary: #245aea;
$secondary: #576194;
$success: #4fb999;
$warning: #f9ca51;
$danger: #e2738a;
$info: #576194;
$light: #cbe8e7;
$dark: #343a40;

$base-font-size: 16px;
$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: 22px;

$layout-navbar-height: 86px;
$layout-navbar-height-mobile: 70px;

$theme-colors: (
  "locomotion": $locomotion-green,
  "locomotion-dark": $locomotion-dark-green,
  "grey": $grey,
  "eggshell": $eggshell,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter-width: 30px;

// font-size is defined in _typography.scss
$line-height-base: 1.2;
$nav-link-padding-y: 0.5rem;

$enable-shadows: true;

// Keep sorted below this line
//$b-toaster-offset-top: $layout-navbar-height + ($base-font-size / 2);
$card-border-radius: 15px;
$card-border-width: 0;
$dropdown-box-shadow: 2px 2px 4px rgba($black, 0.12);
$dropdown-link-hover-bg: rgba($locomotion-green, 0.08);
$dropdown-link-active-bg: $locomotion-green;
$font-family-sans-serif: "BrandonText", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$form-group-margin-bottom: 20px;
$navbar-brand-font-size: 1.6rem;
$navbar-light-color: $black;
$navbar-light-active-color: $black;
$navbar-light-brand-color: $locomotion-green;
$navbar-light-brand-hover-color: $locomotion-green;
$navbar-light-hover-color: $locomotion-green;
