<template>
  <b-container fluid v-if="item && routeDataLoaded">
    <vue-headful :title="fullTitle" />

    <b-row>
      <b-col>
        <h1 v-if="item.name">{{ item.name }}</h1>
        <h1 v-else><em>{{ $tc('véhicule', 1) | capitalize }}</em></h1>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <validation-observer ref="observer" v-slot="{ passes }">
          <b-form class="form" @submit.prevent="passes(submit)">
            <div class="form__section">
              <h2>Informations</h2>

              <forms-builder :definition="form.general" v-model="item" entity="loanables">
                <template v-slot:share_with_parent_communities="{ def, item, property }">
                  <forms-validated-input v-if="hasBoroughs"
                    :description="$t(`descriptions.${property}`)"
                    :label="$t(
                      `fields.${property}_dynamic`,
                      {
                        shared_with: loanableBoroughsMessage,
                      }
                    ) | capitalize"
                    :name="property" :rules="def.rules" :type="def.type"
                    :options="def.options" :disabled="def.disabled"
                    v-model="item[property]" />
                </template>
              </forms-builder>
            </div>

            <div class="form__section" v-if="item.type === 'bike'">
              <h2>Détails du vélo</h2>

              <forms-builder :definition="form.bike" v-model="item" entity="bikes" />
            </div>
            <div class="form__section" v-else-if="item.type === 'car'">
              <h2>Détails de la voiture</h2>

              <forms-builder :definition="form.car" v-model="item" entity="cars" />
            </div>
            <div class="form__section" v-else-if="item.type === 'trailer'">
              <h2>Détails de la remorque</h2>

              <forms-builder :definition="form.trailer" v-model="item" entity="trailers" />
            </div>
            <div class="form__section text-center" v-else>
              <span>
                Sélectionnez un type de véhicule pour poursuivre la configuration.
              </span>
            </div>

            <div class="form__section" v-if="item.type && item.id">
              <loanable-availability-calendar
                :changed="changed"
                :loanable="item"
                :loading="loading" />
            </div>

            <div class="form__buttons">
              <b-button-group>
                <b-button variant="success" type="submit" :disabled="!changed || loading">
                  Sauvegarder
                </b-button>
                <b-button type="reset" :disabled="!changed || loading" @click="reset">
                  Réinitialiser
                </b-button>
              </b-button-group>
            </div>
          </b-form>
        </validation-observer>
      </b-col>
    </b-row>
  </b-container>
  <layout-loading v-else />
</template>

<script>
import FormsValidatedInput from '@/components/Forms/ValidatedInput.vue';
import FormsBuilder from '@/components/Forms/Builder.vue';
import LoanableAvailabilityCalendar from '@/components/Loanable/AvailabilityCalendar.vue';

import DataRouteGuards from '@/mixins/DataRouteGuards';
import FormMixin from '@/mixins/FormMixin';

import locales from '@/locales';

import { capitalize } from '@/helpers/filters';

export default {
  name: 'AdminLoanable',
  mixins: [DataRouteGuards, FormMixin],
  components: {
    FormsBuilder,
    FormsValidatedInput,
    LoanableAvailabilityCalendar,
  },
  computed: {
    fullTitle() {
      const parts = [
        'LocoMotion',
        capitalize(this.$i18n.t('titles.admin')),
        capitalize(this.$i18n.tc('véhicule', 2)),
      ];

      if (this.pageTitle) {
        parts.push(this.pageTitle);
      }

      return parts.reverse().join(' | ');
    },
    hasBoroughs() {
      return this.loanableBoroughs.length > 0;
    },
    loanableBoroughs() {
      if (this.item.community) {
        if (this.item.community.parent) {
          return [this.item.community.parent];
        }

        return [];
      }

      if (this.item.owner) {
        return this.item.owner.user.communities
          .filter(c => !!c.parent)
          .map(c => c.parent);
      }

      return [];
    },
    loanableBoroughsMessage() {
      return this.loanableBoroughs
        .map(b => b.name)
        .filter((item, i, arr) => arr.indexOf(item) === i)
        .join(', ');
    },
    pageTitle() {
      return this.item.name || capitalize(this.$i18n.tc('véhicule', 1));
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loanables,
        ...locales.en.forms,
        cars: locales.en.cars,
        titles: locales.en.titles,
      },
      fr: {
        ...locales.fr.loanables,
        ...locales.fr.forms,
        cars: locales.fr.cars,
        titles: locales.fr.titles,
      },
    },
  },
};
</script>

<style lang="scss">
</style>
