<template>
  <div class="community-proof-form">
    <b-row>
      <b-col>
        <validation-observer ref="observer" v-slot="{ passes }">
          <b-form :novalidate="true" class="community-proof-form__form"
            @submit.stop.prevent="passes(submit)">
            <forms-image-uploader
              :label="community.name"
              field="proof"
              v-model="community.proof" />

            <div class="form__buttons">
              <b-button variant="success" type="submit" :disabled="loading">
                {{ $t('enregistrer') | capitalize }}
              </b-button>
            </div>
          </b-form>
        </validation-observer>
      </b-col>

      <b-col>
        <div class="community-proof-form__instructions">
          <p>
            Merci de nous fournir un document avec votre nom et votre adresse émis par une
            institution officielle. Ça peut être par ex.: facture d'Hydro-Québec, permis de
            conduire, relevé bancaire, relevé de notes officiel.
          </p>

          <p>
            Soit en document numérisé ou simplement une photo prise avec votre téléphone.
          </p>
        </div>

        <div class="community-proof-form__requirements">
          {{ community.requirements }}
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import FormsImageUploader from '@/components/Forms/ImageUploader.vue';

import locales from '@/locales';

export default {
  name: 'CommunityProofForm',
  components: {
    FormsImageUploader,
  },
  props: {
    community: {
      type: Object,
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.communities,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.communities,
        ...locales.fr.forms,
      },
    },
  },
  methods: {
    submit(...params) {
      this.$emit('submit', ...params);
    },
  },
};
</script>

<style lang="scss">
</style>
